.background-image {
    --background: url(../../assets/background/fondoUP2.png) 0 0/100% 100% no-repeat;
}

.background-header {
    --background: #840405;
    color:#fae4e4;
}

.rojo {
    --background: #9b0b0e;
}

.pagina {
    color: #9b0b0e;
    font-weight: 900;
}