<ion-content class="background-image" no-scroll padding>
  <ion-img class="logo" src="assets/background/up2.png"></ion-img>
  <ion-item class="background-item"> 
    <ion-label class= "rojo" position="floating">Email usuario</ion-label>
    <ion-input inputmode="email" [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item class="background-item"> 
    <ion-label class= "rojo" position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="seguro"></ion-input>
  </ion-item>
  <div>
    <ion-button expand="block" class="entrar" (click)="entrar()">Entrar</ion-button>
  </div>
  <div>
    <ion-button expand="block" class="salir" (click)="salir()" >Salir</ion-button>
  </div>
</ion-content>
