.background-image {
    --background: url(../../assets/background/fondoUP2.png) 0 0/100% 100% no-repeat;
}

.background-header {
    --background: #840405;
    color:#fae4e4;
}

.toolbar {
    width: 75%;
    height: 4em;
    margin-left: 6em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    --background: #db1b23;
    color: white;
    ion-icon {
        font-size: 32pt;
        margin-left: 0.5em;
    }
}

.encabezado {
    text-align: center;
    color: white;
}

.titulo {
    font-weight: bolder;
    text-shadow: -1px 1px #840405;
}

.contenedor1 {
    width: 100%;
}
  
.background-item{
    --background: #d5444a;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    margin-bottom: 0.5em;
}

.entrar {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    --background: #fae4e4;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #9b0b0e;
    :active {
        --background: #d5444a; 
    }
}

.salir {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    --background: #9b0b0e;
    :active {
        --background: #d5444a; 
    }
}

.rojo {
    color: #9b0b0e
}

