<ion-content class="background-image">
  <div>
    <div *ngFor="let candidato of candidatos; let i = index">
      <ion-item class="data" *ngIf="i == contador">
        <ion-avatar slot="start">
          <img src="../../assets/img/logo/{{candidato.urlLogo}}" alt="{{candidato.lista}}">
        </ion-avatar>
        <ion-label>{{candidato.lista}} {{candidato.detalle}}</ion-label>
        <ion-input type="number" inputmode="numeric" maxlength=3 placeholder=0 [(ngModel)]="votos[i].voto"></ion-input>
      </ion-item>
    </div>
  </div>  
  <div class="fotos">
    <ion-slides class="slides">
      <ion-slide *ngFor="let foto of fotos; let j = index">
        <img [src]="foto" *ngIf="foto">
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <h2 class="pagina">Página {{j + 1}}</h2>
        </ion-fab>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-fab vertical="bottom" horizontal="end" class="footer">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-icon (click)="retornar()" name="arrow-undo"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-icon (click)="guardar()" name="save"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon (click)="anterior()" name="arrow-back-outline"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon (click)="siguiente()" name="arrow-forward-outline"></ion-icon> 
      </ion-buttons>
    </ion-toolbar>  
  </ion-fab>
</ion-content>