<ion-content class="background-image">
  <ion-fab vertical="top" horizontal="strat" slot="fixed" class="scrollfab">
    <div *ngFor="let candidato of candidatos; let i = index">
      <ion-item class="data" *ngIf="i == contador">
        <ion-avatar slot="start">
          <img src="../../assets/img/logo/{{candidato.urlLogo}}">
        </ion-avatar>
        <ion-label>{{candidato.lista}} {{candidato.detalle}}</ion-label>
        <ion-input inputmode="numeric" maxlength=3 pattern="[0-9]" [(ngModel)]="votos[i]"></ion-input>
      </ion-item>
    </div>
    
  </ion-fab>
  <div class="datos">
    
  </div>
  
  <div class="fotos">
    <ion-slides>
      <ion-slide *ngFor="let foto of fotos; let i = index">
        <img [src]="foto" *ngIf="foto">
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <h2 class="pagina">página {{i}}</h2>
        </ion-fab>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="footer">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-icon (click)="retornar()" name="arrow-undo"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-icon (click)="guardar()" name="save"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon (click)="anterior()" name="arrow-back-outline"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon (click)="siguiente()" name="arrow-forward-outline"></ion-icon> 
      </ion-buttons>
    </ion-toolbar>  
  </div>
</ion-content>